<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <timestamp>@timestamp</timestamp>
        <level>level</level>
        <logger>logger</logger>
        <thread>thread</thread>
        <message>message</message>
      </fieldNames>
    </encoder>
  </appender>
  <logger name="org.apache.spark" level="WARN"/>
  <logger name="org.apache.hadoop" level="WARN"/>
  <logger name="org.sparkproject" level="WARN"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
